body {
  background-color: rgb(44, 41, 38);
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* header */

#main_header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(29, 26, 24);
  padding: 0px 5%;
}

#main_header a {
  text-decoration: none;
}

#logo {
  color: orange;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  text-decoration: none;
  color: orange;
  list-style-type: none;
  margin: 1rem;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
}

nav li a:hover {
  color: white;
}

/* main section */

h1 {
  text-align: center;
  color: orange;
  font-size: 3rem;
  margin: 2rem 0px 0px 0px;
}

#latest_products {
  width: 60%;
  margin: 2rem auto;
}

#latest_products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.food_items {
  background-color: lightblue;
  border-radius: 6px;
  overflow: hidden;
}

.food_items img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.food_item_content {
  background-color: lightblue;
  text-align: center;
  padding: 0.5rem 0 2.2rem 0;
  list-style-type: none;
}

.food_item_content h2 {
  margin: 0px 0px 1.25rem 0px;
  color: rgb(44, 41, 38);
  font-size: 1.75rem;
}

.food_item_content a {
  text-decoration: none;
}

.btn {
  background-color: orange;
  color: white;
  border-radius: 4px;
  padding: 8px 24px;
}

.btn:hover {
  background-color: white;
  color: orange;
}

/* Media Queries */

/* Below at a width less than 1000px the screen will go blue 
and less than 1300px the h2 heading will reduce to 1.2rem*/

@media (max-width: 48rem) {
  body {
    background-color: lightgrey;
  }

  h1 {
    font-size: 2rem;
    margin: 1.6rem 0px 0px 0px;
  }

  nav li a {
    display: none;
  }

  #latest_products ul {
    grid-template-columns: 100%;
  }
}
