body {
  background-color: rgb(44, 41, 38);
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* header */

#main_header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(29, 26, 24);
  padding: 0px 20px;
}

#main_header a {
  text-decoration: none;
}

#logo {
  color: orange;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  text-decoration: none;
  color: orange;
  list-style-type: none;
  margin: 30px;
  padding: 2px 6px;
}

nav li a:hover {
  color: white;
}

/* main section */

h1 {
  text-align: center;
  color: orange;
  font-size: 32px;
  margin: 20px 0px 0px 0px;
}

#latest_products {
  width: 80%;
  margin: 30px auto;
}

#latest_products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.food_items {
  background-color: lightblue;
  border-radius: 6px;
  overflow: hidden;
}

.food_items img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.food_item_content {
  background-color: lightblue;
  text-align: center;
  padding: 10px 0px 30px 0px;
}

.food_item_content h2 {
  margin: 0px 0px 20px 0px;
  color: rgb(44, 41, 38);
}

.food_item_content a {
  text-decoration: none;
}

.btn {
  background-color: orange;
  color: white;
  border-radius: 4px;
  padding: 8px 24px;
}

.btn:hover {
  background-color: white;
  color: orange;
}
